@charset "UTF-8";
h1, h2 {
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  text-align: center;
  z-index: 1;
  font-size: 30px; }

h3 {
  font-family: 'Share', cursive;
  text-align: center; }

h4 {
  font-family: 'Staatliches', cursive;
  color: black;
  list-style: none;
  text-align: center; }

h5 {
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin: 50px;
  padding: 1rem; }

h6 {
  text-align: center;
  font-size: 30px; }

@media only screen and (max-width: 600px) {
  h1, h2 {
    font-size: 30px; }
  h3 {
    font-size: 15px; }
  h2 {
    font-size: 15px; }
  h5 {
    font-size: 15px;
    color: white; }
  h6 {
    font-size: 15px; }
  .emoji {
    font-size: 20px; }
  .consultar {
    font-size: 15px;
    color: white; }
    .consultar:hover {
      color: black; }
  .instagram {
    font-size: 20px; }
  .menunav {
    font-size: 15px; }
  .titulo {
    font-size: 30px; }
  .menunav2 {
    font-size: 12px; }
  .items {
    font-size: 13px; }
  .contenido {
    font-size: 13px;
    color: aliceblue; }
  .inquietudes {
    font-size: 15px; }
  .logito {
    font-size: 20px; }
  .diseño {
    font-size: 15px; }
  .instagram {
    font-size: 15px; }
  .facebook {
    font-size: 15px; }
  .numero {
    font-size: 15px; }
  .redes {
    font-size: 10px; }
  #arriba {
    padding: 1rem; } }

header {
  font-family: 'Share', cursive;
  align-items: center; }
  header .content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center; }

body {
  background-image: linear-gradient(to top, rgba(143, 140, 150, 0.445) 0%, rgba(135, 130, 133, 0.336) 100%), url("/media/pexels.jpg");
  background-size: cover;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  background-color: #ecbcd2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  body .contacto {
    background-size: cover;
    font-weight: bolder;
    text-align: center; }

.nosotros {
  backdrop-filter: blur(4px); }

nav .container-fluid .menu {
  list-style: none;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  z-index: 1;
  display: inline-block; }
  nav .container-fluid .menu ul li {
    display: inline-block;
    text-align: center;
    transition: all 200ms; }
    nav .container-fluid .menu ul li a {
      text-decoration: none;
      display: inline-block;
      color: white;
      padding: 5px; }

.nav-item:hover {
  transform: scale(1, 2);
  border-radius: 100%; }

ul ul {
  position: absolute;
  display: none;
  padding: 20pxs; }
  ul ul li {
    display: block;
    transition: none;
    transform: none;
    font-size: 10px;
    line-height: 10px; }
    ul ul li:hover {
      display: block;
      transform: none; }

.speech {
  font-family: 'Staatliches', cursive;
  font-size: larger;
  text-align: left;
  margin: 100px;
  padding: 0%;
  font-size: 30px; }
  .speech .fa-solid {
    font-size: 50px; }

.items {
  list-style: none;
  background-color: white;
  opacity: 50%;
  align-items: center; }
  .items:visited {
    color: black; }
  .items:link {
    color: black; }
  .items .items3 {
    padding: 1rem; }
    .items .items3 .items4 {
      color: black; }
      .items .items3 .items4:hover {
        color: #d35e8d; }

footer {
  margin-top: 10px;
  font-size: 15px; }
  footer .redes {
    display: inline-block;
    padding-left: 30px;
    line-height: 2; }
    footer .redes .instagram {
      font-size: 40px;
      margin-left: 5px;
      margin-right: 5px;
      align-items: center;
      color: #d35e8d; }
      footer .redes .instagram:hover {
        color: white; }
    footer .redes .facebook {
      font-size: 40px;
      margin-left: 5px;
      margin-right: 5px;
      align-items: center;
      color: #d35e8d; }
      footer .redes .facebook:hover {
        color: white; }
    footer .redes .numero {
      font-size: 40px;
      margin-left: 5px;
      margin-right: 5px;
      align-items: center;
      color: #d35e8d; }
      footer .redes .numero:hover {
        color: white; }

.formulario {
  text-align: center; }

.titulo {
  font-size: 30px; }

.fotofoto:hover {
  transform: translate(10px, 20px);
  width: 4s; }

.inquietudes {
  font-size: 40px;
  padding: 2rem; }

.texto {
  color: #d35e8d;
  -webkit-text-stroke: 1px #971967; }

.logito {
  padding: 3rem;
  font-size: 30px; }
  .logito .insta {
    color: black; }
    .logito .insta:hover {
      color: #d35e8d; }

.consultar {
  text-align: center;
  color: white; }
  .consultar:hover {
    color: black; }

#arriba {
  margin: 2rem; }
