h1 { font-family: 'Staatliches', cursive;
    font-weight: normal;
text-align: center;
z-index: 1;
font-size: 30px;}

h2{ 
    @extend h1
}

h3{font-family: 'Share', cursive;
    text-align: center;}

h4{
    font-family: 'Staatliches', cursive;
    color: black;
    list-style: none;
    text-align: center;}

h5{
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    margin: 50px;
    padding: 1rem;}

h6{
    font-size: 30px;}