@media only screen and (max-width: 600px) {
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 15px;
    }
    h5{
        font-size: 15px;
        color: white;
    }
    h6{
        font-size: 15px;
    }
    .emoji{
        font-size: 20px;
    }
    .consultar{
        font-size: 15px;
    }
    .instagram{
        font-size: 20px;
    }
    .menunav {
        font-size: 15px;
    }
    .titulo{
        font-size: 30px;
    }
    .menunav2{
        font-size: 12px;
    }
    .items{
        font-size: 13px;
    }
    .contenido{
        font-size: 13px;
        color: aliceblue;
    }
    .inquietudes{
        font-size: 20px;
    }
    .logito{
        font-size: 20px;
    }
    .speech{
        font-size: 20px;
    }
    h4{
        font-size: 15px; 
    }
}
