@import "letras";
@import "media";
@mixin iconosredes($hover) {
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    color: $color-rosa;
    
    &:hover{ color: $color-blanco;}
    
}

@mixin links ($hover){
        color: $color-negro;
        &:hover{color:$color-rosa}
    
}


$color-negro: black;
$color-blanco:white;
$color-rosa:rgb(211, 94, 141);

header {
    font-family: 'Share', cursive;
    align-items: center;
    .content{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
    }
}


body{
    background-image: linear-gradient(to top, rgba(187, 137, 216, 0.26) 0%, hsla(326, 100%, 92%, 0.329) 100%),  url("/media/fondo.jpg");
    background-size: cover;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    background-color: rgb(236, 188, 210);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    .contacto{
        background-size: cover;
        font-weight: bolder;
        text-align: center;}}

.nosotros{
    backdrop-filter: blur(4px);
}

nav{
    .container-fluid{
        .menu{
            list-style: none;
            width: 90%;
            margin: 20px auto;
            text-align: center;
            z-index: 1;
            display:inline-block ;
            ul{
                li{
                    display: inline-block;
                    text-align: center;
                    transition:all 200ms;
                    a{
                        text-decoration: none;
                        display: inline-block;
                        color: white;
                        padding: 5px;
                    }
                }
            }    
        }
}}
.nav-item{
    &:hover{
        transform: scale(1,02);
        border-radius: 100%;}
}

ul ul{
    position: absolute;
    display: none;
    padding: 20pxs;
    li {display: block;
        transition: none;
        transform: none;
        font-size:10px ;
        line-height: 10px;
        &:hover{display: block;
            transform: none;
        }}}


.speech{
    font-family: 'Staatliches', cursive;
    font-size: larger;
    text-align: left;
    margin: 100px;
    padding: 0%;
    font-size: 30px;
    .fa-solid{
        font-size: 50px;}
}


.items{
    list-style: none;
    background-color: $color-blanco;
    opacity: 50%;
    align-items: center;
    &:visited{color: $color-negro;}
    &:link{color: $color-negro;}
    .items3 {
        padding: 1rem;
        .items4{ 
            @include links($color-rosa)
        }
    }
    
}



footer{ 
    margin-top: 10px;
    .redes{
        display: inline-block;
        padding-left: 30px;
        line-height: 2;
        .instagram{
            @include iconosredes($color-blanco);
        }
        .facebook{
            @include iconosredes($color-blanco);}
        .numero{
            @include iconosredes($color-blanco);
        }
    }
}
.formulario{
    margin: 100px;
    text-align: center;}


.titulo{
font-size: 30px;}

.fotofoto{
    &:hover{transform: translate(10px, 20px);
        width: 4s;}}

.inquietudes{
    font-size: 40px;
    padding: 2rem;}
    

.texto{
    color: rgb(231, 225, 230);
}
.logito{
    padding: 3rem;
    font-size: 30px;
    .insta{
        @include links($color-rosa)
    }
}
.consultar{
    text-align: center;
    color: white;
    &:hover{color:pink}
}

.nudo{
    opacity: 90%;
}

